<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   {% block extra_css %}{% endblock %}
<!--<script src="{% static 'js/main.js'%}" defer></script>-->
    <title>
        {% block title%}
        Portfolio
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Welcome to My Data Science Portfolio</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/projects">Projects</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <main>
        {%block content%}
        {% endblock %}
    </main>

    
    <footer>
        <div class="container">
            <p>&copy; 2024 Gabriel pizzo</p>
        </div>
    </footer>

</body>
</html>